
<h1>Free </h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Status</th>
      <th>Location</th>
      <% if current_user && current_user.profile %>
      <th>Buyer</th>
      <th>Seller</th>
      <th>Profile</th>
      <%end%>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td>
        <%# Make sure we grab the first image or show default no image placeholder %>
          <% if listing.pictures && listing.pictures.first%>
            <%= image_tag listing.pictures.first, class: "img-thumbnail" %>
          <%else%>
            <%= image_tag "no-img.jpg", class: "img-thumbnail" %>
          <%end%>
        </td>
        <td><%= listing.title %></td>
        <%# Truncate text so it does not overflow... %>
        <td><%= (listing.description).truncate(20) %></td>
        <td>FREE  </td>
        <td><%= listing.status %></td>
        <td><%= listing.location %></td>
        <% if current_user && current_user.profile %>
        <td><%= listing.buyer_id %></td>
        <td><%= listing.seller_id %></td>
        <td><%= listing.profile_id %></td>
        <td><%= link_to 'Show', listing %></td>
        <%end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user && current_user.profile %>
<%= link_to 'New Listing', new_listing_path %>
<%end%>