<p id="notice"><%= notice %></p>

<% @listing.pictures.each do |picture|%>
  <%= image_tag picture %>

<% end %>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @listing.status %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.location %>
</p>

<p>
  <strong>Create at:</strong>
  <%= @listing.create_at %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @listing.buyer_id %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @listing.seller.user_name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @listing.profile_id %>
</p>

<%# <%if user_signed_in?%>
  <%# <button>BUY ME</button> %>
<%# <% else %>
  <%# <p>You need to login firsT!!!!</p> %>
<%# <% end %>




<% if current_user && current_user.profile %>
    <%# When the listing has a buyer, show as sold %>
    <% if @listing.buyer %>
      <button class="btn btn-danger"> Sold</button>
    <% else %>
      <%= link_to 'buy', payment_path(listing_id: @listing.id), method: :post, class: "btn btn-danger"%>
    <%end%>

    <%# We only show the buttons for edit and delete if the logged in user is the one who created this listing %>
    <% if current_user && @listing.seller_id == current_user.profile.id%>
      <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-warning" %>
      <%= link_to 'Delete', @listing, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>

<%end%>


<%= link_to 'Back', listings_path, class: "btn btn-primary" %>
