




<div class="container">
  <div class="row">
    <div class="col col-lg-2 col-sm-1">
      
    </div>
    <div class="col col-lg-8 col-sm-10">
    <br />
    <br />
    <br />
<p id="notice"><%= notice %></p>

<% if @listing.pictures && @listing.pictures.first%>
  <% @listing.pictures.each do |picture|%>
    <%= image_tag picture, style: "max-width: 180px"%>
  <% end %>
<% else %>
  <%= image_tag "no-img.jpg", style: "max-width: 180px"%>                               
<% end %> 



<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @listing.status %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.location %>
</p>

<%# This bit of code is a b it dynamic. We want to ensure that the following rules are not broken

1. Only allow the user to buy if they are not the seller
2. Only allow edit or delete if the logged in user is seller
3. Only allow Sold, Edit, Delete and Back if the item is sold %>

<% if current_user && current_user.profile%>
    <%# When the listing has a buyer, show as sold %>
    <% if @listing.buyer %>
      <button class="btn btn-danger"> Sold</button>
    <% elsif @listing.price > 0 && current_user.id != @listing.seller.id%>
      <%= link_to 'buy', payment_path(listing_id: @listing.id), method: :post, class: "btn btn-danger"%>
    <%end%>

    <%# We only show the buttons for edit and delete if the logged in user is the one who created this listing %>
    <% if current_user && @listing.seller_id == current_user.profile.id%>
      <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-warning" %>
      <%= link_to 'Delete', @listing, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>

<%end%>


<%= link_to 'Back', listings_path, class: "btn btn-primary" %>
    </div>
    <div class="col col-lg-2 col-sm-1">
      
    </div>
  </div>
</div>