
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand btn btn-danger text-white btn-sm" href="/">Kid's Recycle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto text-light mt-1">
          <li class="nav-item">
          <%= link_to "Sell", "/listings/new", class: "nav-link active" %>
        </li>
       <li class="nav-item">
          <%= link_to "Buy", "/listings", class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Free", "/listings?free=true", class: "nav-link active" %>
        </li> 
          <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link"%>
        <% else %>
         <%= link_to 'Log In', new_user_session_path, class: "nav-link"%>
        <% end %>
        </li>    
      </ul>
    </div>
  </div>
</nav>